@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-on-surface-variant: #424842;
  --color-on-primary-fixed: #07200f;
  --color-background: #fbf9f5;
  --color-tertiary: #44617c;
  --color-on-secondary-fixed: #241a0e;
  --color-secondary-container: #f4dfcb;
  --color-surface-container-high: #eae8e4;
  --color-on-secondary: #ffffff;
  --color-surface-dim: #dbdad6;
  --color-outline: #737972;
  --color-on-primary: #ffffff;
  --color-on-tertiary: #ffffff;
  --color-on-secondary-fixed-variant: #524436;
  --color-on-error: #ffffff;
  --color-tertiary-fixed: #cde5ff;
  --color-primary-fixed-dim: #b0ceb2;
  --color-surface-bright: #fbf9f5;
  --color-inverse-primary: #b0ceb2;
  --color-surface-container: #efeeea;
  --color-on-primary-fixed-variant: #334d38;
  --color-outline-variant: #c2c8c0;
  --color-on-surface: #1b1c1a;
  --color-on-tertiary-container: #1c3a53;
  --color-secondary-fixed: #f4dfcb;
  --color-surface-tint: #4a654e;
  --color-primary: #4a654e;
  --color-surface-container-low: #f5f3ef;
  --color-on-error-container: #93000a;
  --color-inverse-surface: #30312e;
  --color-surface-container-highest: #e4e2de;
  --color-on-background: #1b1c1a;
  --color-tertiary-container: #8ba88e;
  --color-surface-variant: #e4e2de;
  --color-secondary-fixed-dim: #d7c3b0;
  --color-on-tertiary-fixed-variant: #2c4963;
  --color-tertiary-fixed-dim: #accae9;
  --color-on-primary-container: #233d29;
  --color-primary-fixed: #cceace;
  --color-surface: #fbf9f5;
  --color-on-secondary-container: #716252;
  --color-on-tertiary-fixed: #001d32;
  --color-secondary: #6b5c4c;
  --color-primary-container: #8ba88e;
  --color-inverse-on-surface: #f2f0ed;
  --color-error-container: #ffdad6;
  --color-surface-container-lowest: #ffffff;
  --color-error: #ba1a1a;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-surface);
}

h1, h2, h3, h4, h5, h6, .font-headline {
  font-family: 'Manrope', sans-serif;
}

.bg-primary-gradient {
  background: linear-gradient(135deg, #4a654e 0%, #8ba88e 100%);
}

.editorial-shadow {
  box-shadow: 0 24px 48px -12px rgba(27, 28, 26, 0.06);
}

.ambient-shadow {
  box-shadow: 0 24px 48px -12px rgba(27, 28, 26, 0.04);
}

.glass-nav {
  background: rgba(251, 249, 245, 0.8);
  backdrop-filter: blur(20px);
}